@media screen and (max-width: 1400px) {

}



@media screen and (max-height: 950px) and (max-width: 500px) {
    .top-container img{
        height: min(6vh, 6vw);
    }

    .header-text{
        font-size: min(2.3vw, 2.3vh);
    }

    .bottom-container{
        padding-bottom: 6vh;
    }

    .bottom-container img{
        padding: 0;
    }

    .img-main{
        display: flex;
        justify-content: center;
    }

    /* Side Bar */
    .dot {
        width: 5px; /* Dot size for mobile */
        height: 5px;
    }

    .sidebar {
        position: fixed;
        top: 50%;
        right: 10px; /* Adjust as needed to position on the side */
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        gap: 4px; /* Space between dots */
        z-index: 999; /* Ensure it stays on top */
    }


    /* Info page */

    .STD-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .STD-loc-container {
        height: 41vh;
    }

    .STD-text{
        font-size: min(10vw, 10vh);
        padding-bottom: min(2vw, 2vh);
    }

    .date-loc-container{
        align-items: center;
        padding-top: min(2vw, 2vh);
    }

    .date-text, .loc-text {
        font-size: min(3.9vw, 3.9vh);
    }

    .date-loc-container img{
        height: min(6vh, 6vw);
    }

    .mobile-center{
        display: flex;
        flex-direction: column;
    }

    
    /* RSVP Section */
    .event-text{
        font-size: min(3vw, 3vh);
    }

    .red-text{
        font-size: min(3vw, 3vh);
    }

    .small-dot{
        margin-left: calc(0.15vw + 0.15vh);
        width: calc(0.39vw + 0.39vh); /* Smaller dot size scaling */
        height: calc(0.39vw + 0.39vh);
    }

    .big-dot {
        width: calc(0.7vw + 0.7vh); /* Dot size scales with viewport */
        height: calc(0.7vw + 0.7vh);
    }

    .line {
        left: calc(0.3vw + 0.3vh);
    }

    .rsvp-container a{
        justify-content: flex-start;
    }

    .timeline-container {
        justify-content: flex-end;
    }

    .timeline-center{
        padding-right: min(8vw, 8vh);
    }

    .rsvp-container img {
        padding-left: min(8vw, 8vh);
    }

    /* FAQ Page */
    
    .faq-bottom-container {
        font-size: min(3vw, 3vh);
        padding: min(2vw, 2vh);
    }

    .chinese{
        font-size: min(3.3vw, 3.3vh);
    }

    #languageToggle {
        font-size: min(3vw, 3vh);
        height: min(5vw, 5vh);
        width: min(8vw, 8vh);
    }

    .button-bottom {
        padding-bottom: min(20vw, 20vh); /* Optional: adds some spacing from the bottom */
    }
}


@media screen and (max-width: 380px) {
    .faq-bottom-container {
        font-size: min(2.5vw, 2.5vh);
    }

    .chinese {
        font-size: min(2.8vw, 2.8vh);
    }
}
