@media screen and (max-width: 1400px) {

}



@media screen and (max-height: 950px) {
    .top-container img{
        height: min(4vh, 4vw);
    }
        
    .header-text{
        font-size: min(1.3vw, 1.3vh);
    }
}



@media screen and (max-width: 600px) {
    /* .top-container img{
        height: 20px;
    }
        
    .header-text{
        font-size: 8px;
    } */
}