@font-face {
    font-family: 'leelawadee';
    src: url('./fonts/leelawadee-ui.ttf') format('truetype');
}

@font-face {
    font-family: 'sarlotte';
    src: url('./fonts/Sarlotte.otf') format('opentype');
}


/* Global */
* {
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: #fffcf5;
    overflow: auto;
    height: 300vh;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
}

section {
    height: 100vh;
    scroll-snap-align: start;
}


/* Sidebar */
.sidebar {
    position: fixed;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 4px;
    z-index: 999;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: #3d6ba83a;
    border-radius: 50%;
    display: block;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: #3d6ba886;
}


/* Loading Screen */
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fffcf5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: visibility 2s ease-out, opacity 2s ease-out;
    z-index: 1000;
}

.loading-text,
#loading-screen img {
    opacity: 0;
    transition: opacity 2s ease-in;
}

#loading-screen img {
    width: auto;
    height: 50px;
    max-width: 100%;
    object-fit: contain;
}

.loading-text {
    font-family: 'sarlotte';
    font-size: 20px;
    letter-spacing: 0.05em;
    color: #3d6ca8;
}

#loading-screen.visible .loading-text,
#loading-screen.visible img {
    opacity: 1;
}

#loading-screen.hidden {
    opacity: 0;
}


/* Intro */
#intro {
    height: 100vh;
    visibility: hidden;
    opacity: 0;
    transition: opacity 2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#intro.visible {
    visibility: visible;
    opacity: 1;
}

.top-container {
    padding-top: 25px;
    text-align: center;
}

.top-container img {
    width: auto;
    height: 30px;
    max-width: 100%;
    object-fit: contain;
}

.header-text {
    font-family: 'sarlotte';
    font-size: min(1.1vw, 1.1vh);
    letter-spacing: 0.05em;
    color: #3d6ca8;
}

.bottom-container {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-bottom: min(15vw, 15vh);
}

.img-text-container {
    position: relative;
}

.bottom-container img {
    padding-right: min(9vw, 9vh);
    width: auto;
    height: 90%;
    max-width: 90%;
    object-fit: contain;
}

.name-year-container {
    padding-right: min(9vw, 9vh);
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-weight: 100;
}

.chi-name-text1 {
    font-family: 'leelawadee';
    letter-spacing: 0.1em;
    font-size: min(5vw, 3vh);
    color: #3d84b3;
}

.chi-name-text2 {
    margin-top: 0.2em;
    font-family: 'leelawadee';
    font-size: min(3.5vw, 2.5vh);
    color: #d90000;
}


/* Info */
#info {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
    opacity: 0;
}

#info.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s ease-in-out;
}

.STD-loc-rsvp-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.STD-loc-container {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.STD-text {
    font-family: 'sarlotte';
    font-size: min(5vw, 5vh);
    color: #7439a8;
}

.STD-pic-container {
    width: 100%;
    max-height: 50vh;
    overflow: hidden;
    position: relative;
}

.STD-pic-container img {
    width: auto;
    height: min(30vh, 30vw);
    max-width: 100%;
    object-fit: contain;
}

.date-loc-container {
    display: flex;
    flex-direction: column;
}

.date-loc-container img {
    height: min(3.5vh, 3.5vw);
    margin-right: 1%;
}

.date-text,
.loc-text {
    display: flex;
    align-items: center;
    font-size: min(2vw, 2vh);
    font-family: 'sarlotte';
    color: #3d6ca8;
    word-spacing: 0.15em;
}

.mobile-center {
    padding-top: min(2vh, 2vw);
}

.loc-text a,
.date-text a {
    display: flex;
    align-items: center;
    width: auto;
    color: #3d6ca8;
    white-space: nowrap;
    text-decoration: none;
    border-bottom: 1px dotted #3d6ca8;
}


/* Timeline */
.timeline-rsvp-container {
    height: 40vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: min(8vw, 8vh);
}

.timeline-container {
    width: 50%;
    display: flex;
    justify-content: center;
}

.timeline-center {
    width: auto;
    display: flex;
}

.dot-text-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: auto;
    justify-content: center;
    height: auto;
}

.timeline-event {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    margin-bottom: min(3vh, 3vw);
}

.timeline-event:last-child {
    margin: 0;
}

.timeline-event:last-child .event-text {
    font-style: italic;
}

.event-text {
    padding-left: calc(0.5vw + 0.5vh);
    font-family: 'leelawadee';
    font-size: min(1.3vw, 1.3vh);
    color: #3d6ca8;
    padding-top: 3%;
}

.red-text {
    padding-left: calc(0.5vw + 0.5vh);
    font-family: 'leelawadee';
    font-size: min(1.3vw, 1.3vh);
    color: #d90000;
}

.big-dot,
.small-dot {
    border-radius: 50%;
    z-index: 1;
    background-color: #3d6ca8;
    flex-shrink: 0;
}

.big-dot {
    width: 12px;
    height: 12px;
}

.small-dot {
    width: 7px;
    height: 7px;
    margin-left: 2px;
    margin-right: 8px;
}

.line {
    position: absolute;
    width: 2px;
    background-color: #3d6ca8;
    left: 5px;
    top: 8px;
    bottom: 8px;
}

/* RSVP */
.rsvp-container {
    left: 50%;
    width: 50%;
}

.rsvp-container a {
    display: flex;
    justify-content: center;
    width: 100%;
}

.rsvp-container img {
    width: min(25vw, 25vh);
    height: auto;
}


/* FAQ */
#faq {
    height: 100vh;
    visibility: hidden;
    opacity: 0;
    transition: opacity 2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#faq.visible {
    visibility: visible;
    opacity: 1;
}

.faq-container {
    height: 100vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq-top-container {
    text-align: center;
    font-family: 'sarlotte';
    font-size: min(8vw, 8vh);
    color: #7439a8;
    padding-top: min(5vw, 5vh);
}

.faq-bottom-container {
    flex-grow: 1;
    font-family: 'leelawadee';
    color: #3d6ca8;
    font-size: min(2vw, 2vh);
    width: 100%;
    overflow: hidden;
}

.faq-link {
    text-decoration: none;
    border-bottom: 1px dotted #7439a8;
    color: #7439a8;
}

.faq-link:visited,
.faq-link:hover,
.faq-link:active {
    color: #7439a8;
}

.answer-container {
    display: none;
    padding-left: min(8vw, 8vh);
    padding-right: min(8vw, 8vh);
    transition: all 0.3s ease;
    text-align: justify;
}

.question-container {
    cursor: pointer;
    margin: 10px 0;
    padding-top: 10px;
    border-top: 2px dotted #3d6ca8;
    display: flex;
}

.question-container div {
    padding-top: min(0.5vw, 0.5vh);
}

.question-container img {
    height: min(3.5vw, 3.5vh);
    padding-right: min(1vw, 1vh);
}

.question-answer-container>.Q-A:first-child>.question-container {
    padding-top: 0;
    border-top: none;
}

.question-container:hover {
    color: #d90000;
}

.button-bottom {
    display: flex;
    justify-content: center;
    margin-top: auto;
    padding-bottom: min(15vw, 15vh);
    gap: 5px;
}

#languageToggle,
#downloadButton {
    background-color: #719cd4;
    color: white;
    border: none;
    border-radius: min(3vw, 3vh);
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: min(1.5vw, 1.5vh);
    height: min(2.5vw, 2.5vh);
    width: min(15vw, 15vh);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.button-bottom a {
    text-decoration: none;
}

.link-icon {
    height: min(1.2vw, 1.2vh);
    width: auto;
}